  * {
      box-sizing: border-box;
    }

    .map {
      position: absolute;
      left: 0%;
      width: 100%;
      top: 0;
      bottom: 0;
    }

   /* Marker tweaks */
   .marker {
      border: none;
      cursor: pointer;
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background-size:cover;
      margin-top:25px;
      background-color: white;
   }

   .custom-popup-image {
     width: 225px;
     height: 100px;
   }
   
   .mapboxgl-popup {
     padding-bottom: 0px;
   }

    .mapboxgl-popup-close-button {
      display: none;
    }
    .Project-Title-Map{
     font:font: 400 17px/24px 'Alatsi', 'Inter', sans-serif;
     padding:5px;
     

    .mapboxgl-popup-content {
      font: 400 17px/24px 'Alatsi', 'Inter', sans-serif;
      padding: 0;
      width: auto;
      background-color:#fdeae2;
    }
.mapboxgl-popup-anchor-bottom{
 background-color: #fdeae2}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
 padding-top:11px;}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
 padding-bottom:13px;}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
 padding-left:12px;}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
 padding-right:12px;}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
  padding-bottom:13px;}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  padding-bottom:13px;}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
  padding-top:11px;}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
  padding-top:11px;}


